# Ignore node_modules in both client & server
node_modules/

# Ignore Vite and general OS-related files
client/dist/
dist/
.vscode/
.DS_Store

# Ignore environment variables
.env
.env.local
.env.development
.env.production

# Ignore log files
*.log
